<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="style.css">
    <title>Area Explorer Dashboard</title>
    <script>
      /*setTimeout(function() {
        location.reload();
      }, 5000);*/
    </script>
  </head>
  <body>
    <div style="display: grid;">
      <div class="frame">
        <nav class="navbar bg-body-tertiary frame">
          <img src="images/icons8-hard-to-find-50.png">
          <h1>Area Explorer Dashboard</h1>
          <form class="container-fluid justify-content-center" style="margin-bottom: 0.5em;">
            <button class="btn btn-sm btn-outline-dark" type="button" style="margin-right: 0.5em; margin-left: 0.5em;">Live Detection</button>
            <button class="btn btn-sm btn-outline-dark" type="button" style="margin-right: 0.5em; margin-left: 0.5em;">Path optimization</button>
          </form>
        </nav>
      </div>
      <div class="frame">
        <div style="width: 80%; text-align: left;">
          <h2>Recent measurements</h2>
        </div>
      </div>
      <div class="frame">
        <table class="table table-striped table-bordered">
          <thead class="table-head">
            <tr>
              <th scope="col">0°</th>
              <th scope="col">30°</th>
              <th scope="col">60°</th>
              <th scope="col">90°</th>
              <th scope="col">120°</th>
              <th scope="col">150°</th>
              <th scope="col">180°</th>
              <th scope="col">Position X</th>
              <th scope="col">Position Y</th>
              <th scope="col">Density</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <% messages.forEach(function(message) { %>
            <tr>
              <td><%= message.degree0 %></td>
              <td><%= message.degree30 %></td>
              <td><%= message.degree60 %></td>
              <td><%= message.degree90 %></td>
              <td><%= message.degree120 %></td>
              <td><%= message.degree150 %></td>
              <td><%= message.degree180 %></td>
              <td><%= message.positionx %></td>
              <td><%= message.positiony %></td>
              <td><%= message.density %></td>
              <td><%= message.time %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>

